@font-face {
  font-family: "Inter", sans-serif;
  src: url(fonts/Inter-VariableFont.woff2) format("woff2"),
    url(fonts/Inter-VariableFont.woff) format("woff"),
    url(fonts/Inter-VariableFont.ttf.ttf) format("truetype");
}

/* @link https://utopia.fyi/type/calculator/?c=350,16,1.2,1440,20,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-black: hsl(240, 10%, 7%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(240, 5%, 64%);
  --clr-glass: hsla(240, 5%, 64%, 0.25);
  --clr-darkGlass: hsla(240, 5%, 50%, 0.25);

  --primary-color: var(--clr-white);
  --secondary-color: var(--clr-black);

  --ff-base: "Inter", sans-serif;

  --fs-0: clamp(0.73rem, calc(0.66rem + 0.31vw), 0.94rem);
  --fs-1: clamp(0.88rem, calc(0.79rem + 0.37vw), 1.13rem);
  --fs-2: clamp(1.05rem, calc(0.95rem + 0.44vw), 1.35rem);
  --fs-3: clamp(1.26rem, calc(1.14rem + 0.53vw), 1.62rem);
  --fs-4: clamp(1.51rem, calc(1.37rem + 0.63vw), 1.94rem);
  --fs-5: clamp(1.81rem, calc(1.65rem + 0.76vw), 2.33rem);
  --fs-6: clamp(2.18rem, calc(1.98rem + 0.91vw), 2.8rem);

  --max-width: 1440px;
  --navbar-height: 3.5rem;

  --space-inline: 5rem;

  --radius: 0.4rem;
  --transition: all 0.3s ease-in-out;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);

  font-family: var(--ff-base);
  transition: var(--transition);
}

.wrapper {
  padding-inline: var(--space-inline);
}

.dark-theme {
  --primary-color: var(--clr-black);
  --secondary-color: var(--clr-white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  // padding-inline: var(--space-inline);

  border-bottom: 1px solid var(--clr-glass);

  .primary-nav {
    display: flex;
    gap: 2rem;

    .logo-container {
      height: 100%;
      @include flexCenter();
      gap: 0.5rem;

      #logo {
        height: 2rem;
        border-radius: var(--radius);
      }

      h1 {
        font-size: var(--fs-1);
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        list-style-type: none;

        a {
          color: var(--clr-gray);
          text-decoration: none;
          transition: var(--transition);
          font-size: var(--fs-0);
          font-weight: 500;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .secondary-nav {
    .socials {
      display: flex;
      height: var(--navbar-height);
      align-items: center;
      gap: 2rem;
      font-size: var(--fs-2);

      & > * {
        cursor: pointer;
      }

      a {
        color: var(--clr-white);
        text-decoration: none;
        display: grid;
        place-items: center;
      }

      .toggle-btn {
        background-color: transparent;
        border: none;
        font-size: var(--fs-1);
        display: grid;
        place-items: center;
      }
    }
  }
}

.hero {
  margin-block: 2rem;

  #hero-badge {
    width: fit-content;
    @include flexCenter();

    gap: 1rem;
    background-color: var(--clr-darkGlass);
    padding-block: 0.35rem;
    padding-inline: 0.75rem;
    border-radius: var(--radius);

    text-decoration: none;
    color: var(--primary-color);

    font-size: var(--fs-0);
    font-weight: 700;
  }
  .hero-title {
    font-size: var(--fs-6);
    text-transform: capitalize;
    margin-top: 0.3em;
  }

  .hero-desc {
    margin-block-start: 0.7em;
    margin-block-end: 1.5em;
    max-width: 50ch;

    color: var(--clr-gray);
    font-size: var(--fs-2);
  }
}

.btn {
  font-size: var(--fs-1);
  text-transform: capitalize;

  padding-block: 0.5em;
  padding-inline: 1em;

  border: none;
  border-radius: var(--radius);
  cursor: pointer;

  transition: var(--transition);

  &:hover {
    background-color: var(--clr-gray);
  }
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.icon {
  color: var(--primary-color);
}

.footer {
  position: fixed;
  bottom: 0;

  width: calc(100vw - (var(--space-inline) * 2));
  height: var(--navbar-height);

  @include flexCenter();
  justify-content: start;

  font-size: var(--fs-0);

  color: var(--clr-gray);

  .footer-link {
    text-decoration: 1.35px underline var(--clr-gray);
    text-underline-position: under;
    font-weight: 700;
    color: var(--clr-gray);
  }
}
