@font-face {
  font-family: "Inter", sans-serif;
  src: url(fonts/Inter-VariableFont.woff2), url(fonts/Inter-VariableFont.woff),
    url(fonts/Inter-VariableFont.ttf.ttf);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div {
  font-family: "Inter", sans-serif;
}
