@font-face {
  font-family: "Inter", sans-serif;
  src: url(fonts/Inter-VariableFont.woff2) format("woff2"),
    url(fonts/Inter-VariableFont.woff) format("woff"),
    url(fonts/Inter-VariableFont.ttf.ttf) format("truetype");
}

/* @link https://utopia.fyi/type/calculator/?c=350,16,1.2,1440,20,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-black: hsl(240, 10%, 7%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(240, 5%, 64%);

  --primary-color: var(--clr-white);
  --secondary-color: var(--clr-gray);

  --ff-base: "Inter", sans-serif;

  --fs-0: clamp(0.83rem, calc(0.82rem + 0.07vw), 0.88rem);
  --fs-1: clamp(1rem, calc(0.92rem + 0.37vw), 1.25rem);
  --fs-2: clamp(1.2rem, calc(1.02rem + 0.83vw), 1.77rem);
  --fs-3: clamp(1.44rem, calc(1.1rem + 1.56vw), 2.5rem);
  --fs-4: clamp(1.73rem, calc(1.15rem + 2.65vw), 3.53rem);
  --fs-5: clamp(2.07rem, calc(1.14rem + 4.29vw), 5rem);
  --fs-6: clamp(2.49rem, calc(1.02rem + 6.72vw), 7.07rem);

  --max-width: 1440px;

  --radius: 0.5rem;
  --transition: all 0.3s ease-in-out;
}

div {
  font-family: var(--ff-base);
  font-size: var(--fs-6);
}
